{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}

    {% for post in allposts %}
        <a href="{{ path('post', {'id': post.id}) }}">
            <h2>{{post.name}}<h2>
        </a>
    {% endfor %}


{% endblock %}