{% extends 'base.html.twig' %}

{% block body %}
<section class="form">
<h2>Mot de passe perdu ?</h2>
<p>Entré votre adresse mail d'incription et on vous envoie le lien pour changer votre mot de passe</p>
<form action="{{ path('forgot-pass') }}" method="POST">
    <input type="email" name="email">
    <button type="submit">Envoyer le lien magique ! </button>
</form>
</section>

{% endblock %}