.home {
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 100px;
    a {
        text-decoration: none;
    }
    .accroche {
        background-image: url("/pictures/home.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        h1 {
            padding-left: 60%;
            padding-top: 10%;
        }
        h2 {
            padding-left: 50%;
        }
    }
    .tricks {
        display: flex;
        justify-content: space-between;
        .card {
            width: 15%;
            .card-body {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
      
    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
      
        h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .content {
            max-height: 30%;
            overflow: auto;
        }
    }
}