.trick {
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 100px;

  .container {
    position: relative;
    text-align: center;
    width: 90%;
    img {
      width: 100%;
    }
    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
      background-color: rgba(255, 255, 255, 0.623);
      a {
        text-decoration: none;
      }
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.623);
      padding: 1%;
    }
  }
  .media {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    img,
    iframe {
      width: 250px;
      height: 161px;
    }
  }

  .description {
    text-align: center;
    margin: 3%;
    padding: 1%;
  }

  .details {
    display: flex;
    justify-content: center;
    .card {
      margin-left: 3%;
      width: 15%;
      text-align: center;
    }
  }

  .formComment {
    text-align: center;
    padding: 1%;
    margin: 3%;
  }

  .comments {
    align-items: center;
    h5 {
      text-align: center;
      margin: 1%;
    }
    .comment {
      margin-bottom: 1%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 1%;
      align-items: center;
      width: 95%;
      .author {
        width: 10%;
        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
      .content {
        width: 70%;
      }
      .date {
        width: 10%;
      }
    }
    a {
      width: 20%;
      margin: 10px;
    }
  }

  .commentover {
    .popup {
      width: 80%;
      height: 90%;
      overflow-y: scroll;
      scrollbar-color: rebeccapurple green;
      scrollbar-width: thin;
      .close {
        position: absolute;
        right: 3%;
        top: 3%;
        z-index: 1;
      }
    }
  }
}

@media (max-width: 48em) {
  .trick {
    .container {
      .top-right {
        right: 0px;
        svg {
          width: 30px;
        }
      }
    }
    .media {
      display: flex;
      justify-content: space-between;
      padding-top: 3%;
      img,
      iframe {
        width: 250px;
        height: 161px;
      }
    }
    .details {
      .card {
        width: 30%;
      }
    }

    .comments {
      h5 {
        text-align: center;
        margin: 1%;
      }
      .comment {
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 1%;
        align-items: center;
        .author {
          width: 10%;
          img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
          }
        }
        .content {
          width: 70%;
        }
        .date {
          width: 10%;
        }
      }
    }
  }
}
