{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    

{% for trick in tricks %}    
<div class="card mb-3">

{#<img src="{{post.photo}}">
<img src="{{ asset('pictures/trick_defaut.jpg') }}">#}
                <div class="card-body">        
                
                <a href="{{ path('trick', {'slug': trick.slug}) }}">
            
            <h2>{{trick.name}}<h2>
        </a>

                </div>

</div>
{% endfor %}

{% endblock %}